.page-header
  %h1
    My passing project on Ruby
%h5
This is a project's management application. It allows to define projects and ticket's and add participants to the project/ticket.
%h6
I hope you like it ;)
