=link_to 'New project', new_project_path , method: :get, class: "btn btn-primary"
%br
%br
- @project.each do |project|
  .row
    .col
      %h3= project.name
  .btn-group{:role => "group"}
  =link_to 'Show project', project_path(project) , method: :get, class: "btn-sm btn-info"
  =link_to 'Edit project', edit_project_path(project), method: :get, class: "btn-sm btn-warning"
  =link_to 'Destroy the project', project_path(project) , method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger"
  %br
  %br